.email-verified-h1 {
  width: 500px;
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  color: #66676b;
}

@media screen and (max-width: 500px) {
  .email-verified-h1 {
    width: 300px;
    font-size: 30px;
  }
}
